<div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center">
  Sin Informacion
  </div>
  <ng-template #table>
  <table class="table table-hover">
      <thead>
          <tr>
              <th>#</th>
              <th>Bandera</th>
              <th>Region</th>
              <th>Sub region</th>
              <th>País</th>
              <th>Codigo</th>
              <th>Capital</th>
              <th>#</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country  of countries; let inx =index">
          <td>{{ inx +1 }}</td>
          <td>
            <img [src]="country.flags.svg" [alt]="country.name.common">
          </td>
          <td>{{country.region}}</td>
          <td>{{country.subregion}}</td>
          <td>{{country.name.common}}</td>
          <td>{{country.flag}}</td>
          <td>{{country.capital}}</td>
          <td>
            <a [routerLink]="['/countries/by',country.cca3]">info</a>
          </td>
        </tr>
      </tbody>
  </table>
  </ng-template>
